In [5]:
import json
import requests

url = "https://inventory.data.gov/api/action/datastore_search?resource_id=8ea44bc4-22ba-4386-b84c-1494ab28964b"
parameters = {}

parameters["City"] = "Pearland"
parameters["State"] = "TX"
parameters["Zip"] = "77584"
parameters["Fiscal Year"] = 2017
parameters = json.dumps(parameters)

response = requests.post(url,data=parameters)

print(response)

print(parameters)

<Response [200]>
{"City": "Pearland", "State": "TX", "Zip": "77584", "Fiscal Year": 2017}

In [27]:
poop = json.loads(response.content)["result"]["records"][0]["Dec"]

In [28]:
print(poop)

134

In [15]:
print(poop)

{'City': 'Riverhead / Ronkonkoma / Melville', 'Dec': '134', 'Feb': '134', 'Zip': '501', 'Aug': '134', 'Sep': '134', 'Apr': '134', 'Jun': '134', 'State': 'NY', 'Jul': '134', 'Meals': '64', 'County': 'Suffolk County, NY', 'May': '134', 'DestinationID': '271', 'Mar': '134', 'Jan': '134', 'LocationDefined': 'Suffolk', 'Nov': '134', '_id': 1, 'Oct': '134', 'FiscalYear': '2018'}

In [21]:
import pandas as pd

In [25]:
test = pd.read_excel("test.xlsx")

In [26]:
test.head()

  State    Zip
0    TX  77584
1    NJ   7470

In [29]:
def get_meal_value(row):
    url = "https://inventory.data.gov/api/action/datastore_search?resource_id=8ea44bc4-22ba-4386-b84c-1494ab28964b"
    parameters = {}
    parameters["State"] = row["State"]
    parameters["Zip"] = row["Zip"]
    parameters["Fiscal Year"] = 2017
    parameters = json.dumps(parameters)
    
    try:
        response = requests.post(url,data=parameters)
        poop = json.loads(response.content)["result"]["records"][0]["Dec"]
        return poop
    except:
        return 0

test["Meal"] = test.apply(get_meal_value, axis=1)

In [30]:
test.head()

  State    Zip Meal
0    TX  77584  134
1    NJ   7470  134

In [31]:
test.to_csv("test2.csv", index=False)